name: Release

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Install xvfb and xclip on linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb xclip

      # On Linux, we need to wrap the test command in xvfb-run.
      # On Windows and macOS, we can run it directly.
      # The `--test-threads=1` flag is crucial for all platforms to prevent
      # tests from interfering with each other's clipboard actions.

      - name: Run tests (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run cargo test -- --nocapture --test-threads=1

      - name: Run tests (Windows & macOS)
        if: runner.os != 'Linux'
        run: cargo test -- --nocapture --test-threads=1

  check_branch:
    runs-on: ubuntu-latest

    outputs:
      is_on_main: ${{ steps.branch_check.outputs.is_on_main }}

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Check if tag is on main branch
        id: branch_check
        run: |
          if git branch -r --contains ${{ github.ref }} | grep -q 'origin/main'; then
            echo "On main branch. Proceeding with the workflow..."
            echo "is_on_main=true" >> "$GITHUB_OUTPUT"
          else
            echo "Not on main branch."
          fi

  create_release:
    runs-on: ubuntu-latest

    needs:
      - test
      - check_branch
    if: needs.check_branch.outputs.is_on_main == 'true'

    steps:
      - uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0

      - uses: taiki-e/create-gh-release-action@v1
        with:
          changelog: CHANGELOG.md
          branch: main
          token: ${{ secrets.GITHUB_TOKEN }}
