name: Run tests

on:
  push:
    # branches:
    #   - main
    tags:
      - "v*"
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:
      RUST_LOG: trace

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Install xvfb and xclip on linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb xclip

      # On Linux, we need to wrap the test command in xvfb-run.
      # On Windows and macOS, we can run it directly.
      # The `--test-threads=1` flag is crucial for all platforms to prevent
      # tests from interfering with each other's clipboard actions.

      - name: Run tests (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run cargo test -- --nocapture --test-threads=1

      - name: Run tests (Windows & macOS)
        if: runner.os != 'Linux'
        run: cargo test -- --nocapture --test-threads=1
